[project]
	description = "Official C# support for Visual Studio Code (powered by OmniSharp)"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gizmos (928PJY)
[access "refs/for/refs/*"]
	read = group user/Gizmos (928PJY)
	push = group user/Gizmos (928PJY)
	label-Code-Review = -2..+2 group user/Gizmos (928PJY)
	label-Verified = -1..+1 group user/Gizmos (928PJY)
	rebase = group user/Gizmos (928PJY)
	removeReviewer = group user/Gizmos (928PJY)
	submit = group user/Gizmos (928PJY)
[access "refs/heads/*"]
	read = group user/Gizmos (928PJY)
	create = group user/Gizmos (928PJY)
	push = +force group user/Gizmos (928PJY)
	pushMerge = group user/Gizmos (928PJY)
[access "refs/tags/*"]
	push = +force group user/Gizmos (928PJY)
	createTag = group user/Gizmos (928PJY)
	createSignedTag = group user/Gizmos (928PJY)
